@tailwind base;
@tailwind components;

body {
	font-family: Muli, sans-serif;
}

#menu-toggle:checked + #menu {
	display: block;
}

.bar {
	display: inline-block;
	position: relative;
	height: 5px;
	width: 30px;
	background-color: #f56565;
}

.bar::after,
.bar::before {
	content: "";
	position: absolute;
	background-color: #f56565;
	height: 5px;
}

.bar::before {
	width: 15px;
	transform: translateY(-180%);
}

.bar::after {
	width: 25px;
	transform: translateY(180%);
}

.v-line {
	display: inline-block;
	height: 20px;
	width: 1px;
}

@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Muli:wght@200;300;400;500&display=swap");
